@mixin colorRed{
  color: #db0000;
}
@mixin colorBlack {
  color: #222222;
}
@mixin colorWhite {
  color: #ffffff;
}
@mixin colorGray {
  color: #564d4d;
}
@mixin colorDarkRed {
  color: #831010;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 2000px;
  margin: -10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;

  .button-container {
    width: 99%;
    margin-left: 47%;
  }

  .buttonLoad {
    float: left;
    margin: -10px auto;
    padding: 25px 15px;
    text-transform: uppercase;
    border-radius: 100%;
    border: dotted rgb(131, 130, 130);
    cursor: pointer;
    font-size: larger;
    color: white;
    background-color: rgba(71, 0, 236, 0.76);
    
  }
  .buttonRoullete {
    float: right;
    margin: -10px auto;
    padding: 25px 15px;
    text-transform: uppercase;
    border-radius: 100%;
    border: dotted rgb(131, 130, 130);
    cursor: pointer;
    font-size: larger;
    color: white;
    background-color: rgba(71, 0, 236, 0.76);
    
  }
}

.movie {
  width: 100%;
  max-width: 400px;
  max-height: 450px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.226);
  margin: 15px 133px;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.404);
  position: relative;

  img {
    width: 90%;
    height: 75%;
    border : 2px solid rgba(255, 255, 255, 0.226);
    display: block;
    margin: 0 auto;
  }
  .movie-vote {
    width: 53px;
    height: 53px;
    color: rgb(6, 181, 204);
    border: 1px solid rgb(255, 255, 255) !important;
    border-radius: 50%;
    right: -8px;
    top: -15px;
    position: absolute;
    font-size: 20px;
    background-color: rgb(223, 63, 0);
    text-align: center;

    span {
      display: grid;
      align-content: center;
      margin-top: 10px;
      color: rgb(255, 187, 0);
    }
  }
}
